.products {
  padding: 80px;
}

.products h2{
  font-size: 3vw;
  margin-bottom: 2vw;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product-card {
  padding: 30px;
  border-radius: 12px;
  background: #e9edfc;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-6px);
  background: white;
  box-shadow: 0 12px 32px rgba(0,0,0,0.1);
}

.product-card h3{
  font-weight: 600;
  font-size: 1.5vw;
}


@media (max-width: 992px) {
  .products {
    padding: 50px 20px;
  }

  .products h2 {
    font-size: 6vw;
    margin-bottom: 4vw;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .product-card {
    padding: 20px;
  }

  .product-card h3 {
    font-size: 4vw;
  }
}

@media (max-width: 576px) {
  .product-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .product-card h3 {
    font-size: 5vw;
  }
}
