.stack-wrapper {
  position: relative;
}

.stack-card {
  position: sticky;
  top: 0;
  min-height: 90vh;
  background: #ffffff;
  padding: 70px;
  border-radius: 14px;
  margin-bottom: 120px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  z-index: 10;
}

.stack-title{
  font-size: 2vw;
  font-weight: 500;
}

/* Background Stacked Layers */
.layer {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  background: white;
  border-radius: 14px;
  z-index: -1;
  box-shadow: 0 8px 25px rgba(0,0,0,0.05);
}

.layer1 { top: 18px; opacity: 0.6; }
.layer2 { top: 36px; opacity: 0.35; }
.layer3 { top: 54px; opacity: 0.15; }

